.container__content {
  border: solid 1px white;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items:center;
}

.content__cover > img{
  border: solid 2px rgb(rgb(116, 104, 104), green, blue);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description {
  margin-top:15px;
}

.content__description > p {
  color: gray;
}